*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;   
}

#main{
    height: 100%; 
    width:  100%;

}

.card{
    height: 300px;
    width:240px;
    border: 2px solid black;
     border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#card1{
    z-index: 4;

}

#card2{
     z-index: 3;
   transform: translate(-50%,-50%) rotate(-7deg);


}
#card3{
     z-index: 2;
   transform: translate(-50%,-50%) rotate(-14deg);
  
    
}
#card4{
     z-index: 1;
     transform: translate(-50%,-50%) rotate(-21deg);
    
   
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-radius: 20px;
    
}

 #card2:hover{
    z-index: 50;
 }

  #card3:hover{
    z-index: 55;
 }

  #card4:hover{
    z-index: 60;
 }