*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height:100%;
    width: 100%;
}

#main{
    height: 100%;
    width:  100%;
}

#header{
    height: 14%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
}

#fakeheader{
    height: 14%;
    width: 100%;
}

.text{
    margin: 15px;
    color: #2c2d60;
    font-weight: bold;
 
}

.text:hover{
    color: #1aabff;
}

#textproduct{
    margin-left: 20px;
    margin: 20px;
}

#contact{
    margin-left: 190px;
    
}

#contact:hover{
color: #1aabff;
}

.logo{
  padding: 10px;
  margin-left: 20px;
  border-radius: 50%;
}


#logo{
    margin-left: 40px;
    margin-right: 30px;
}

.logo:hover{
background-color: #c2e4f8;
}

#login{ 
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

#login:hover{
 background-color:#c2e4f8 ;
border-radius: 50px;
}


#try{
    padding: 13px 27px;
    background-color:#2e844a;
    border-radius:7px;
    color: white;
    
}

#try:hover{
    background-color: #003813;
}


#title{
    background-color: #140075;
    color: white;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;

}
#report {
     font-weight: lighter;
}

#report:hover{
      text-decoration: underline;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: white;
}


#content{
    background-image: url(first\ page\ png.webp);
   background-position: center;
   background-size: contain;
    display: flex;
    height: 64%;
    width:100%;
    align-items: center;
   justify-content: space-between;
}
#box1{
    width: 50%;
    height:100% ;
    margin: 100px 100px;

}

#head h1 {
    
    font-weight: 600;
    color:#140075 ;
    font-size: 50px;
    background-color: white;
    margin-top: 50px;
    
}

#para p {
   margin-top: 60px;
}

#box1 p {
    font-size: x-large;
    margin: 10px;
}

#button{
    width:60%;
    height: 10%;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1.5cm;
}

#button1{
 color: white;
 background-color:#0176d3;
 border-radius:5px;
   font-weight: 400;
 padding: 15px 35px ;
 margin-right: 10px;
 text-align: center;
}

#button1:hover{
    background-color:#140075 ;
}

#button2{
    margin-left: 10px;
  font-weight: 400;
 padding: 13px 35px ;
border-radius:5px;
color: #0176d3;
border: 1px solid  ;
border-style: solid #0176d3;
text-align: center;
}

#button2:hover{
    background-color:#e4e3e9 ;
    color: #140075;
}
#box2{
    width: 50%;
    height:70% ;
    margin: 100px 100px;
    background-image: url(css\ PAGE\ 2.png);
    background-size: contain;
    margin: 100px 100px;
    border-radius: 8px;
    
}



#heading{
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

}


#page2{
    height: 88%;
    width: 100%;
   background-color: rgba(23, 216, 255, 0.921);
}

#cardholder{
    background-image:url(second\ page\ png.webp) ;
    background-image: cover;
    background-position: center;
    background-size: cover;
    height: 84%;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}



.card{
    height: 350px;
    width: 250px;
    background-color: rgba(235, 255, 11, 0.433);
    background-position: center;
    background-size: cover;
}

#card1{
    background-image: url(card1.webp);
    border-radius: 8px;
}
#cardhead{
    height :100px;
    width :100%;

}
#card2{
    background-image: url(card2.webp);
    border-radius: 8px;
}
#card3{
    background-image: url(card3.webp);
    border-radius: 8px;
}
#card4{
    background-image: url(card4.webp);
    border-radius: 8px;
}


#products {
    margin-top: 20px;
    margin-left: 650px;
    padding: 13px 27px;
    border-radius:8px;
    height: 50px;
    width: 200px;
    background-color:#0176d3;
    font-weight: bold;
    align-items: center;
    display: flex;
    color: beige;
}

#products:hover{
   background-color:#140075 ;

}

#page3{
    height: 86%;
    width: 100%;
   background-color: rgb(41, 226, 255);
}


